In [1]:
print(15/7)

2.142857142857143

In [2]:
print(15//7)

2

In [3]:
print(2*3)

6

In [5]:
print(2**3)

8

In [9]:
first_variable = int(input("enter a number :"))
second_variable = int(input("enter a number :"))
print(first_variable + second_variable)

enter a number :25
enter a number :35
60

In [10]:
print(1/2+3//3+4**2)

17.5

In [11]:
print(2/2.)

1.0

In [12]:
print(2/2)

1.0

In [13]:
print(2//2)

1

In [14]:
type(first_variable)

int

In [34]:
num = int(input("enter a number:"))
if num % 2 == 0:
 print(num ,"is Even")
else:
  print(num , "is Odd")
print("finish")

enter a number:20
20 is Even
finish

# ASSIGNMENT

In [5]:
total_marks = 500
english = 80
urdu = 75
physics = 80
chemistry = 79
math = 95
obtained_marks = english + urdu + physics + chemistry + math
percentage = (obtained_marks / total_marks) * 100
grade = ""
if percentage >= 90 and percentage <100:
    grade = "A+"
elif percentage >= 80 and percentage <=90:
    grade = "A"
elif percentage >= 70 and percentage <= 80:
    grade = "B"
else:
    grade = "FAIL"
print(grade)

A

# Class 14 March

In [6]:

day = int(input("enter a day"))
permission = int(input("enter a permission(1/2):"))
tickets = int(input("do you have tickets? (1/2):"))
if day == 1:
    if permission == 1:
        if tickets == 1:
          print("you can go")
        else:
          print("you cant go")
    else:
        print("you cant go")
else:
    print("day is not suitable")

enter a day2
enter a permission(1/2):1
do you have tickets? (1/2):1
day is not suitable

In [32]:
friend_list = ["umair","taimoor","waseem"]
friend_list.insert(1,"hamza")
"taimoor" in friend_list

True

In [11]:
ek_list = ["a","b","c"]
ek_list.append(["d","e"])
del ek_list[3]
ek_list.insert(2,"z")
ek_list.remove([0])
ek_list

ValueError: list.remove(x): x not in list

# 19 march

In [1]:
#silicing
#mlist[start:end]
m_list = [1,2,3,4,5,6,7,8,9]
m_list[2:6]

[3, 4, 5, 6]

In [2]:
m_list[4:14]

[5, 6, 7, 8, 9]

In [3]:
m_list[-1]       #index can be minus format means ulta chalega

9

In [4]:
m_list[-2]

8

In [5]:
#in slicing always series will be left to right not right to left
m_list[-1:-7]

[]

In [6]:
m_list[2:-3]

[3, 4, 5, 6]

In [7]:
#delete or remove
del m_list[7]
m_list

[1, 2, 3, 4, 5, 6, 7, 9]

In [8]:
m_list.remove(6)
m_list

[1, 2, 3, 4, 5, 7, 9]

In [10]:
m_list.insert(5,6)
m_list.insert(7,8)
m_list

[1, 2, 3, 4, 5, 6, 6, 8, 7, 9]

In [11]:
my_list = ['a', 'b', 'c', 'd']
final_list = m_list + my_list
final_list

[1, 2, 3, 4, 5, 6, 6, 8, 7, 9, 'a', 'b', 'c', 'd']

In [12]:
value = 6
value1 = value  #call by refrence
value1

6

In [13]:
#pass by refrence
a = ['a', 'b']
b = [2,55,555]
a = b
a

[2, 55, 555]

In [17]:
#copy is not pass by refrence its only copy one time copy
c = ['cat', 'dog']
d = [25,36]
c = d.copy()
d = [55,65]
c

[25, 36]

In [19]:
f = [85,65]             #slicing is not call by refrence its pass by value
g = ['faisal', 'faizan']
f = g[:]
g = ['farhan', 'faraz']
f

['faisal', 'faizan']

In [20]:
#Tupple
#tupple is like list but it uses parenthesis instead of sq bracket and it cant b deleted or odd only can slice
names = ('pakistan', 'south africa')   #this is packking
x,y = names    #unpacking
x

'pakistan'

In [21]:
y

'south africa'

In [23]:
names = "pakistan zindabad"
names = names[3:9]
names

'istan '

In [24]:
#to convert string into list
names = "grand pakistan zindabad"
x = names.split()
x

['grand', 'pakistan', 'zindabad']

In [26]:
names = "grand1pakistan1zindabad"
x = names.split("1")
x

['grand', 'pakistan', 'zindabad']

# 21 March

In [4]:
list = [3,4,6,5,78,54,67,90,54]
popped_value = list.pop()      #when we slice original list remains same
popped_value                  #when we poped the list original list changes

54

In [35]:
tasks = ["call customer","pay bill","receive envelope"]

In [37]:

task_done = []
kaam = []
status = input("have u done task:")
if status == "y":
    kaam = tasks.pop()
    task_done.append(kaam)
    print(tasks)
    print(task_done)

have u done task:y
['call customer']
['pay bill']

# For Loop

In [7]:
for s in range(1,11):
    print("2 *",s ,"=",s*2)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [39]:
for a in range(1,10):
    print(a,"faisal")

1 faisal
2 faisal
3 faisal
4 faisal
5 faisal
6 faisal
7 faisal
8 faisal
9 faisal

In [43]:
foods = ["pasta","biryani","bbq"]
for food in foods:
    print(food)

pasta
biryani
bbq

In [46]:
brands = ["levis","outfitters","polo","yellow","red trees"]
for brand in brands:
    print("i love to buy my clothes from " + brand.title() + ".")

i love to buy my clothes from Levis.
i love to buy my clothes from Outfitters.
i love to buy my clothes from Polo.
i love to buy my clothes from Yellow.
i love to buy my clothes from Red Trees.

In [48]:
name = "naSir"
print(name.title())
print(name.upper())
print(name.lower())

Nasir
NASIR
nasir

In [50]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [19]:
for a in range(10,1,-2):
    print(a)

10
8
6
4
2

In [3]:
square_list = []
digits = [1,2,3,4,5,6,7,8,9,10]
for digit in digits:
    square = digit**2
    square_list.append(square)
    print(square_list)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
square_list = []
digits = [1,2,3,4,5,6,7,8,9,10]
for digit in digits:
    square = digit**2
    square_list.append(square)
print(square_list)
print(sum(square_list))
print(max(square_list))
print(min(square_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
385
100
1

In [6]:
for char in "pakistan":
    print(char)

p
a
k
i
s
t
a
n

# when we want code shorter# LIST COMPREHENSION#

In [11]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
[x**2 for x in range(1,11) if x%2 == 0]  #pehle square bracket main for condition likhen then us se pehle jo operation karna he then jo condition deni he wo for syntax k baad

[4, 16, 36, 64, 100]

In [26]:
list = [1,5,4,6,8,7,9,2,6]
num = int(input("enter number"))
[num**2 for n in list if n==num]

enter number8

[64]

# 26 march

In [3]:
break_list = [1,5,6,9,10]
for i in break_list:
    print(i)
    if i == 6:
        break

1
5
6

In [5]:
9 in break_list

True

In [9]:
breaklist = [1,5,4,6,9,10]
for j in breaklist:
    if j == 6:
        continue                  #continue skips the given condition
    print(j)

1
5
4
9
10

In [13]:
#Nested LOOP
firstname = ["faisal","faizan","farhan","faraz"]
lastname = ["qureshi","khan","shah","Afridi"]
for f in firstname:
    for l in lastname:
        print(f +" "+l)

faisal qureshi
faisal khan
faisal shah
faisal Afridi
faizan qureshi
faizan khan
faizan shah
faizan Afridi
farhan qureshi
farhan khan
farhan shah
farhan Afridi
faraz qureshi
faraz khan
faraz shah
faraz Afridi

In [16]:
table = [2,3,4,5]
for table_no in table:
    for counting in range(1,11):
        print(table_no, "* ",counting ,"= ",table_no*counting)
    print("============")

2 *  1 =  2
2 *  2 =  4
2 *  3 =  6
2 *  4 =  8
2 *  5 =  10
2 *  6 =  12
2 *  7 =  14
2 *  8 =  16
2 *  9 =  18
2 *  10 =  20
============
3 *  1 =  3
3 *  2 =  6
3 *  3 =  9
3 *  4 =  12
3 *  5 =  15
3 *  6 =  18
3 *  7 =  21
3 *  8 =  24
3 *  9 =  27
3 *  10 =  30
============
4 *  1 =  4
4 *  2 =  8
4 *  3 =  12
4 *  4 =  16
4 *  5 =  20
4 *  6 =  24
4 *  7 =  28
4 *  8 =  32
4 *  9 =  36
4 *  10 =  40
============
5 *  1 =  5
5 *  2 =  10
5 *  3 =  15
5 *  4 =  20
5 *  5 =  25
5 *  6 =  30
5 *  7 =  35
5 *  8 =  40
5 *  9 =  45
5 *  10 =  50
============

# Dictionary

In [17]:
dct = {}                       #dct = {key:value,key:value,key:value,key:value,key:value}
type(dct)

dict

In [8]:
dct = {1:100,2:200,3:300,4:400}               #json format
dct1 = {"a":"apple","b":"bara apple"}
dct2 = {1:"a",2:"b",3:"c"}
dct3 = {"apple":100,"orange":120}
dct4 = {'name':['asad','saad','alfa'],1:9999}
dct5 = {"a1":[dct,dct1,dct2,dct3,dct4]}
dct1['b']
dct[1]
#to overwrite
dct5["a1"]="kuch nahi"
dct5['a1']
#to append
dct5['b1']="buhat kuch"
dct5
#to delete
del dct2[3]
dct2

{1: 'a', 2: 'b'}

In [9]:
dct4['name'][1]

'saad'

In [10]:
dct7 = {1:{11:'a',22:'d',33:'g',44:'y4z'},2:'1234567'}
dct7[1][44][1]     #getting only 4

'4'

In [19]:
dct = {'a':['apple','astrology','attribute'],'b':['ball','basket','bounce']}
dct['c']='cat','cup'
dct['b']
dct['c']

('cat', 'cup')

In [21]:
dct8 = {1:'a',2:'b',3:'c',4:'d'}
for k,v in dct8.items():
    print(k,v)

1 a
2 b
3 c
4 d

In [22]:
for k in dct8.keys():      #to get key by key
    print(k)

1
2
3
4

In [23]:
for v in dct8.values():     #to get value by value
    print(v)

a
b
c
d

In [24]:
for k in dct8.keys():      # to get value by key
    print(dct8[k])

a
b
c
d

# Function

In [1]:
def funcname():
    print("we are learning function")

In [2]:
funcname()

we are learning function

In [54]:
d=600
def add():   #parameterless
    global a    #when we want any variable separate from the function we have to global that variable
    a = 100
    b = 200
    d = 500
    c = a+b
    print(d)
    print("result is "+ str(c))
def addition(x,y):    #parameterised function
    z = x+y
    print(z)
def fatherson(father,son):
    print("father is " + father + " son is "+ son)

def subtraction(a,b,c):
    d = a-b-c
    return d

In [55]:
add()
print(a)
print(d)
addition(25,35)
fatherson("Aslam","Faisal")
subtraction(100,25,35)

500
result is 300
100
600
60
father is Aslam son is Faisal

40

#     Default Parameter

In [56]:
def method(a=0,b=0,c=0):
    d = a+b+c
    return d

In [57]:
method(4,5)

9

In [60]:
def math(a=0,b=0,c=0,*othervalues):
    d = a+b+c
    return d

In [61]:
math(4,5,6,2,4,88,5,6)

15

# 4 april 2019

#string

In [2]:
str = "pakistan is our beloved country"
str.split(" ")

['pakistan', 'is', 'our', 'beloved', 'country']

In [6]:
a = "faisal"
username = input("enter your name")
if username.strip() == "faisal":                       #strip function crops the spaces
    print("you are welcome",username)
else:
    print("i dont know who u are")

enter your name  faisal
you are welcome   faisal

In [14]:
#format function
friend = input("enter friend name:")
father = input("enter his father name:")
print(f"my friend name is {friend} and his father name is {father}")

enter friend name:faizan
enter his father name:aslam
my friend name is faizan and his father name is aslam

In [16]:
list = ['farhan','faraz']
print(f"my friend name is {list[1]}")

my friend name is faraz

In [23]:
dictionary = {1:'faizan',2:'waseem'}
print(f"my friend name is {dictionary[1]}")

my friend name is faizan

# Classes

In [1]:
class Human():
    def __init__(self,name,age,gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def get_name(self):
        print("name is",self.name)
        
    def get_age(self):
        print("age is",self.age)
        
    def moving(self):
        print(f"{self.name} is moving so fast")
        
newhuman = Human("faisal",33,"male")
another_human = Human("faizan",32,"male")

another_human.get_name()
newhuman.get_name()
newhuman.moving()
another_human.get_age()

name is faizan
name is faisal
faisal is moving so fast
age is 32

class Traveller():
    def __init__(self,id,passport,visa,ticket):
        self.id = id
        self.passport = passport
        self.visa = visa
        self.ticket = ticket
        
    def get_id(self):
        print(f"id is {self.id}")
        
    def know_airline(self):
        print(f"airline is {self.airline}")
        
        
farhan = traveller("4210165632617","4265","Turkey","Emirates")
faraz = traveller("4210165632615","4253","saudia arabia","saudi airline")

faraz.know_airline()

# 9 april

In [34]:
class Car():
    def __init__(self,make,model,year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        self.fuel = 10
        
    def get_descriptive_name(self):
        descriptive_name = f"{self.make} {self.model} {self.year}"
        return descriptive_name
    
    def update_odometer(self,mileage):
        if mileage > self.odometer_reading:
            self.odometer_reading = mileage
            print("odometer reading updated")
        else:
            print("you r updating wrong value")
        
    def odometer_reading(self):
        print("this car odometer reading is "+str(self.odometer_reading)+"miles on")
        
    def increment_reading(self,miles):
        self.odometer_reading += miles
        print("incremented")
        
    def get_fuel(self):
        print("this car is str"(self.fuel)+"litre")

In [35]:
 new_car = Car("honda","latest",2019)

In [36]:
new_car.update_odometer(50)

odometer reading updated

In [37]:
new_car.increment_reading(10)

incremented

In [38]:
print(new_car.odometer_reading)

60

In [48]:
class Electric_car(Car):
    def __init__(self,make,model,year):
        super().__init__(make,model,year)
        self.battery = 70
        
    def describe_battery(self):
        print("this car has"+str(self.battery)+"KWH")
        
    def get_fuel(self):
        print("this car has no fuel option")

In [49]:
my_old_car = Electric_car("Toyota","Latest",2018)

In [52]:
print(my_old_car.get_fuel())

this car has no fuel option
None

In [44]:
class Person():
    def __init__(self,first_name,last_name,age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        
    def full_name(self):
        return (self.first_name + self.last_name)
    

    
p1 = Person('Faisal ','Aslam',34)

In [45]:
class Doctor(Person):
    def __init__(self,first_name,last_name,age):
        super().__init__(first_name,last_name,age)
        
        
    def bio_data(self):
        return (self.first_name + self.last_name + str(self.age))    
            
   
    
p2 = Doctor('Saleem','Najmi',52)


print(p2.bio_data())

SaleemNajmi52

In [46]:
class Desease():
    def __init__(self,name,desease):
        self.desease = desease
        self.name = name
        
        
    def get_desease(self):
        print(f"{self.name} has {self.desease}")
        
newDesease = Desease("Sonu","sugar")

print(newDesease.get_desease())

Sonu has sugar
None

# 16 april--Data Files

In [12]:
with open("tempfile.txt","w") as axiom:      #we dont need to close file when  we use "with open" 
    axiom.write("Hello Pakistan")
    axiom.write(" hello karachi")

In [13]:
file = open("nonclose.txt","w")             #we need to close the file when we use "open"
file.write("hello karachi")
file.close()

In [17]:
with open("tempfile.txt","a") as axiom:
    axiom.write("\nthis is the append text ")

In [21]:
with open("tempfile.txt","r") as axiom:
    print(axiom.read())

Hello Pakistan hello karachithis is the append text

this is the append text
this is the append text
this is the append text

In [24]:
with open("tempfile.txt","r+") as axiom:
    axiom.write("\n after that i have to read")
    axiom.seek(0)                   #seek function send the cursor to start
    print(axiom.read())

 after that i have to readthis is the append text

this is the append text
this is the append text
this is the append text

# Exception

In [29]:
#Error handling
#mathmatically error or user input error
n1 = int(input("Enter number: "))
n2 = int(input("enter number: "))
try:
    result = n1 / n2
except:
    print("cant divide by zero!!")
else:
    print(result)

Enter number: 25
enter number: 5
5.0

In [ ]:
try:
    n1 = int(input("Enter number: "))
except Exception as e:
    print("Errror handle ==",e)
else:    
    try:
        n2 = int(input("enter number: "))
    except Exception as e:
        print("Errror handle ==",e)
    else:
        try:
            result = n1 / n2
        except Exception as e:
            print("Errror handle ==",e)
        else:
            print(result)

# User defined Exception

In [ ]:
class Student():
    def __init__('self','name'.'age'):
        if age >80:
            raise Exception("Age cant be greater than 80")
        self.name = name 
        self.age = age

# Numpy

In [1]:
import numpy as np

In [2]:
def func(num):
    square = []
    for i in num:
        square.append(i**2)
    return square


q = range(1,10)
print(func(q))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
q = np.array(q)
q

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
q*2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [6]:
l1 = [1,2]
l2 = [3,4]
l1 = np.array(l1)
l2 = np.array(l2)

In [7]:
l3 = l1+l2
l3

array([4, 6])

In [8]:
l4 = l1 * l2
l4

array([3, 8])

In [14]:
#one dimension array is  called vector
#two dimension array is called matrix
#0 dimension array is called scaler
print(np.array(5).ndim)
print(np.array([5]).ndim)
print(np.array([[1,2,3,4],[5,6,7,8],[4,5,6,7]]).ndim)

0
1
2

In [15]:
d2array = np.arange(100).reshape(10,10)

In [17]:
d2array

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [19]:
d3array = np.arange(100)

In [21]:
d3array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [22]:
vector = d2array.reshape(100,)
vector

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [28]:
f1array = np.arange(100)
f1array = f1array.reshape(25,4)

In [29]:
f1array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35],
       [36, 37, 38, 39],
       [40, 41, 42, 43],
       [44, 45, 46, 47],
       [48, 49, 50, 51],
       [52, 53, 54, 55],
       [56, 57, 58, 59],
       [60, 61, 62, 63],
       [64, 65, 66, 67],
       [68, 69, 70, 71],
       [72, 73, 74, 75],
       [76, 77, 78, 79],
       [80, 81, 82, 83],
       [84, 85, 86, 87],
       [88, 89, 90, 91],
       [92, 93, 94, 95],
       [96, 97, 98, 99]])

In [30]:
a1 = np.arange(25).reshape(5,5)
a2 = np.arange(25,50).reshape(5,5)

In [31]:
print(a1.shape)
print(a2.shape)

(5, 5)
(5, 5)

In [34]:
a1*a2                 #both order is same this multiplication called mirror

array([[   0,   26,   54,   84,  116],
       [ 150,  186,  224,  264,  306],
       [ 350,  396,  444,  494,  546],
       [ 600,  656,  714,  774,  836],
       [ 900,  966, 1034, 1104, 1176]])

In [35]:
b1 = np.arange(16).reshape(4,4)
b1

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [36]:
b2 = np.arange(20).reshape(5,4)
b2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [54]:
#matrices multiplication rule:1st matrix's column should be equal to 2nd matrix row
#@ is the operator to multiply these types of matrices whos raw colums are different
# also multiply these types by b2.dot(b1) and np.dot(b2,b1)
b5 = b2@b1
b5

array([[ 56,  62,  68,  74],
       [152, 174, 196, 218],
       [248, 286, 324, 362],
       [344, 398, 452, 506],
       [440, 510, 580, 650]])

In [38]:
b1.size

16

In [40]:
print(np.size(b1,0))      #no of rows
np.size(b1,1)      #no of columns

4

4

In [41]:
np.zeros(100)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [42]:
np.ones(100)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [44]:
np.eye(100)              #identity matrix

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [45]:
np.linspace(1,100,50)      #linear space,,100 values ko 50 main tor diyA, each value difference is same

array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
         9.08163265,  11.10204082,  13.12244898,  15.14285714,
        17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
        25.24489796,  27.26530612,  29.28571429,  31.30612245,
        33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
        41.40816327,  43.42857143,  45.44897959,  47.46938776,
        49.48979592,  51.51020408,  53.53061224,  55.55102041,
        57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
        65.65306122,  67.67346939,  69.69387755,  71.71428571,
        73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
        81.81632653,  83.83673469,  85.85714286,  87.87755102,
        89.89795918,  91.91836735,  93.93877551,  95.95918367,
        97.97959184, 100.        ])

In [51]:
#if we want a matrix of 100s of (10,10) then
f100 = np.ones(100)
f100.reshape(10,10)*100

array([[100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.],
       [100., 100., 100., 100., 100., 100., 100., 100., 100., 100.]])

In [55]:
b5

array([[ 56,  62,  68,  74],
       [152, 174, 196, 218],
       [248, 286, 324, 362],
       [344, 398, 452, 506],
       [440, 510, 580, 650]])

In [57]:
#slicing syntax [starting row:ending row,st column:end column]
#now in b5 we we want 196

f5 =b5[1:3,2:2]

array([], shape=(2, 0), dtype=int32)